.message {
  overflow: hidden;
  padding: 5px;
  font-size: 1rem;
  display: flex;
}

.message .content {
  padding: 10px;
  text-align: left;
}

.message .date-time {
  color: darkgray;
  font-size: 0.9rem;
}

.message p {
  font-size: 1.2rem;
}

.message.outgoing {
  justify-content: flex-end;
}
.message.incoming {
  justify-content: flex-start;
}

.message.outgoing .content {
  background-color: lightyellow;
}

.message.incoming .content {
  background-color: lightblue;
}